#debut{
    font-size: 20px;
}

strong
{
    color: red;
    
}

#prLettre{
    font-size: 50px;
}



h1{
    font-size: 50px;
}

#carree{
    background-color: black;
}
#ensuite{
    position: inline-block;
}

#chevre{
    display: block;
    align-items: center;
}




figcaption{
    color: white;
    background-color: black;
}


figure{
    border: solid black 0.1px;
    float: right;
    height: 50%;
    width: 50%;
}

#new{
    border: solid black 0.1px;
}
#contact{
    border: solid black 0.5px;
    background-color: blue;
    color: white;
}

#GT{
    height: 70%;
    width: 70%;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid black 0.5px;
  }